* {
    box-sizing: border-box;
    font-family: "Baloo 2";
    margin: 0;
    padding: 0;
}

/* Navigation */

nav {
    position: fixed;
    width: 100%;
}

.nav {
    align-items: center;
    background: #3068e1;
    display: flex;
    justify-content: space-between;
    padding: 5px 8% 5px 10%;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2);
}

.nav-logo img {
    margin-bottom: -7px;
    margin-left: -8px;
    width: 70px;
}

.nav-page a {
    color: white;
    font-size: 17px;
    margin-right: 36px;
    text-decoration: none;

    display: inline-block;
    position: relative;
}

#hover:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -7px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
  
#hover:hover:after { 
    width: 100%; 
    left: 0; 
}


/* Header (Home) */

header {
    display: flex;
    background: linear-gradient(90deg, rgba(255,255,255,1) 25%, rgba(255,255,255,0.7) 55%, rgba(255,255,255,0.5) 65%, rgba(255,255,255,0) 75%), url("assets/header-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header-title {
    align-content: center;
    padding-left: 10%;
    text-align: left;
}

.header-title p {
    font-size: 88px;
    line-height: 0.9;
    color: #3068e1;
}

.header-button {
    color: #3068e1;
}


/* Footer */

footer {
    background: #3068e1;
    position: sticky;
    width: 100%;
}

.footer {
    align-items: center;
    display: flex;
    padding: 12px 10% 35px 10%;
    justify-content: space-between;
}

.footer-content img {
    margin-bottom: -15px;
    margin-left: -7px;
}

.footer-content p {
    color: white;
    font-size: 14px;
    line-height: 1.25;
    text-align: left;
}

#address-1 {
    font-weight: bold;
    line-height: 2.25;
}

#address-2 {
    margin-bottom: 25px;
}

#copyright {
    opacity: 70%;
}

#pattern {
    width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}


/* Menu (Home) */

.menu {
    background: #fdfdfd;
    display: grid;
    padding: 3.5% 10% 5% 10%;
}

#menu-title {
    text-align: center;
    font-size: 54px;
    color: #3068e1;
    margin-bottom: 25px;
}

.menu a {
    margin: 8px;
    background: white;
    border-radius: 10px;
    border: none;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
    font-size: 20px;
    text-align: center;
    color: #3068e1;
    text-decoration: none;
    height: 15vh;
    width: 100%;
    align-content: center;
    font-size: 24px;
}

.menu a:hover {
    background: white;
    color: #3068e1;
    transition: all 0.3s;
    border-color: #3068e1;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    font-size: 32px;
}

#menu-row {
    display: flex;
    justify-content: space-between;
    flex: 1;
}


/* Photobox (Home) */

.photobox {
    display: grid;
    padding: 5% 10% 5% 10%;
    background: #fdfdfd;
    text-align: center;
}

.photobox-title a {
    font-size: 54px;
    color: #3068e1;
}

.photobox-title img {
    margin: -10px 0 25px;
    width: 150px;
}

.photobox-img {
    display: flex;
    margin-bottom: 35px;
}

.photobox-img img {
    width:calc(100%/3);
}

.photobox-desc {
    width: 75%;
    margin: 0 12.5% 0;
}

.photobox-desc a {
    font-size: 22px;
}


/* Merch (Home) */

.merch {
    display: inline-flex;
    padding: 5% 10% 8% 10%;
    background: #fdfdfd;
    text-align: left;
}

.merch-img {
    width: 160%;
    margin-right: 5%;
}

.merch-img img {
    width: 100%;
}

.merch-content {
    display: grid;
}

#title {
    font-size: 54px;
    color: #3068e1;
    line-height: 1;
    margin-bottom: 10px;
}

#desc {
    font-size: 22px;
}

#button {
    background: #3068e1;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
    font-size: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 30%;
    align-content: center;
    margin-top: 15px;
    font-weight: bold;
}

#button:hover {
    background: white;
    color: #3068e1;
    border-style: solid;
    border-color: #3068e1;
    border-width: 1.5px;
    transition: all 0.3s;
}


/* Insta (About) */

.insta {
    align-items: center;
    background: white;
    display: flex;
    padding: 5% 10% 5% 10%;
}

#insta {
    height: 60vh;
    width: 100%;
    border-radius: 10px;
}