/* Header */

header {
    display: flex;
    height: 50vh;
    background: linear-gradient(0deg, rgba(253,253,253,1) 10%, rgba(253,253,253,0.6) 50%, rgba(253,253,253,0.2) 70%, rgba(253,253,253,0) 100%), url("../assets/header.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.header-title a {
    font-size: 90px;
    color: #3068e1;
}


/* Embed Insta */

.insta {
    padding: 5% 10% 5% 10%;
    background: #fdfdfd;
}

#insta {
    height: 60vh;
    width: 100%;
    border-radius: 10px;
}


/* Owner's Profile */

.crew {
    padding: 5% 10% 5%;
}

.crew-title {
	display: grid;
}

.owner {
	display: flex;
	justify-content: flex-start;
}

.owner-card {
    position: relative;
    margin-right: 30px;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
	width: 22%;
}

.owner-card .upper {
    position: relative;
    z-index: 1;
    border-radius: 15px 15px 0 0;
    background-color: #3068e1;
    overflow: hidden;
}

.owner-card .upper::after {
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #fdfdfd;
    transform: rotate(-15deg);
}

.owner-card .upper a {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
	background: none;
	text-decoration: none;
    font-size: 16px;
    color: black;
    padding: 5px 0;
}

.owner-card .upper a:hover {
    color: white;
}

.owner-card .lower {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #fdfdfd;
}

.owner-card .lower::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: #3068e1;
    content: "";
    top: 12px;
    right: 30px;
}

.owner-card .lower p {
    transition-duration: 500ms;
    font-size: 14px;
}

.owner-card:hover .upper::after {
    background-color: #3068e1;
}

.owner-card:hover .upper a {
    color: #ffffff;
}

.owner-card:hover .upper a:hover {
    color: #ffffff;
}

.owner-card:hover .lower {
    background-color: #3068e1;
}

.owner-card:hover .lower::after {
    background-color: #fdfdfd;
}

.owner-card:hover .lower p {
    color: #ffffff;
}