* {
    box-sizing: border-box;
    font-family: "Baloo 2";
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}


/* Navigation */

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: all 0.5s;
}

nav.scroll {
    background: #fdfdfd;
}

.nav {
    align-items: center;
    background: #fdfdfd 0.9;
    backdrop-filter: blur(30px);
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    padding: 5px 8% 5px 10%;
}

.nav-logo img {
    margin-bottom: -7px;
    margin-left: -8px;
    width: 80px;
}

.nav-page a {
    color: #3068e1;
    display: inline-block;
    font-size: 17px;
    margin-right: 36px;
    position: relative;
    text-decoration: none;
}

#hover:after {    
    background: #3068e1;
    bottom: -7px;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transition: width 0.4s ease 0s, left 0.4s ease 0s;
    width: 0;
}
  
#hover:hover:after { 
    left: 0; 
    width: 100%; 
}

#fa-instagram {
    margin-right: 0px;
}

.fa-instagram {
    background: none;
    transition: all 0.3s;
}
  
.fa-instagram:hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 100%;
    color: white;
    padding: 0.43em 0.5em;
}


/* Footer */

footer {
    background: #fdfdfd;
    box-shadow: 0 0.5px 5px 0 rgba(0,0,0,0.1);
    position: sticky;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 10% 36px;
}

.footer-content img {
    margin-bottom: -15px;
    margin-left: -7px;
    width: 100px;
}

.footer-content p {
    color: black;
    font-size: 14px;
    line-height: 1.25;
    text-align: left;
}

#address-1 {
    font-weight: bold;
    line-height: 2.25;
}

#address-2 {
    margin-bottom: 20px;
}

#copyright {
    opacity: 70%;
}

#pattern {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 70%;
}