@media (max-width: 480px) {

    * {
    scroll-padding-top: 160px;
    }
    
    
    /* Navigation */

    .nav {
        flex-direction: column;
        justify-content: center;
        padding: 16px;
    }
    
    .nav-logo img {
        margin-bottom: -10px;
    }
    
    .nav-page {
        flex-direction: column;
        align-items: center;
    }
    
    .nav-page a {
        margin-right: 30px;
        margin-bottom: 1rem;
    }
    

    /* Footer */
    
    .footer {
        display: grid;
        justify-content: center;
    }

    .footer-content {
        text-align: center;
    }

    .footer-content img {
        width: 80px;
        margin-left: 0;
    }

    .footer-content p {
        text-align: center;
    }

    .footer-pattern {
        display: none;
    }     
}